@page
@model StudentAccomodation.Pages.Rooms.GetRoomsModel
@{ }
@{
    if (Model.IsVacant)
    {
        <h1>Vacant rooms</h1>
    }
    else
    {
        <h1>Rooms</h1>
    }
}

@{
    if (Model.IsVacant)
    {
        <a class="btn btn-primary text-dark" asp-area="" asp-page="/Rooms/GetRooms" asp-route-isVacant="false">Display all rooms</a>
    }
    else
    {
        <a class="btn btn-primary text-dark" asp-area="" asp-page="/Rooms/GetRooms" asp-route-isVacant="true">Display vacant rooms</a>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>  Place Number   </th>
            <th>    RentPerSemester  </th>
            <th>  Occupied  </th>
            <th>    Room Number  </th>
            <th>  Dormitory Number  </th>
            <th>  Apartment Number  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.rooms)
        {
        <tr>
            <td> @item.PlaceNo </td>
            <td> @item.RentPerSemester </td>
            <td> @item.Occupied </td>
            <td> @item.RoomNo </td>
            <td> @item.DormitoryNo </td>
            <td> @item.ApartmentNo </td>
            @{
                if (!item.Occupied)
                {
            <td> <a class="btn btn-info text-dark" asp-area="" onClick="@Model.OnPost(item.PlaceNo.ToString())" >Assign</a></td>

                }
                
            }
        </tr>}
    </tbody>
</table>