@page
@model StudentAccomodation.Pages.Rooms.GetRoomsModel
@{ }
<h1>Rooms</h1>

<table class="table">
    <thead>
        <tr>
            <th>  Place Number   </th>
            <th>    RentPerSemester  </th>
            <th>  Occupied  </th>
            <th>    Room Number  </th>
            <th>  Dormitory Number  </th>
            <th>  Apartment Number  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.rooms)
        {
        <tr>
            <td> @item.PlaceNo </td>
            <td> @item.RentPerSemester </td>
            <td> @item.Occupied </td>
            <td> @item.RoomNo </td>
            <td> @item.DormitoryNo </td>
            <td> @item.ApartmentNo </td>
        </tr>}
    </tbody>
</table>