@page
@model StudentAccomodation.Pages.Leasings.GetLeasingsModel
@{ }
<h1>Leasings</h1>

<table class="table">
    <thead>
        <tr>
            <th>  Leasing Number   </th>
            <th>    Student Number  </th>
            <th>  Place Number  </th>
            <th>    Date From  </th>
            <th>  Date To  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.leasings)
        {
<tr>
    <td> <b>@item.LeasingNo</b> </td>
    <td> @item.StudentNo </td>
    <td> @item.PlaceNo </td>
    <td> @item.DateFrom </td>
    <td> @item.DateTo </td>
</tr>}
    </tbody>
</table>