@page
@model StudentAccomodation.Pages.Students.GetStudentsModel

@{
    if (Model.IsWaiting)
    {
        <h1>All waiting students</h1>
    }
    else
    {
        <h1>Students</h1>
    }
}

@{
    if (Model.IsWaiting)
    {
        <a class="btn btn-primary text-dark" asp-area="" asp-page="/Students/GetStudents" asp-route-isWaiting="false">Display all students</a>
    }
    else
    {
        <a class="btn btn-primary text-dark" asp-area="" asp-page="/Students/GetStudents" asp-route-isWaiting="true">Display on waiting list</a>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>  Student Number   </th>
            <th>    Name  </th>
            <th>  Address  </th>
            <th>    Has Rent  </th>
            <th>  Registration Date  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.students)
        {
            <tr>
                <td> @item.StudentNo </td>
                <td> @item.SName </td>
                <td> @item.SAddress </td>
                <td> @item.HasRent </td>
                <td> @item.RegistrationDate </td>
                <td> <a class="nav-link text-dark" asp-area="" asp-page="/Students/StudentDetails" asp-route-id="@item.StudentNo">Details</a> </td>
            </tr>
        }
    </tbody>
</table>