@page
@model StudentAccomodation.Pages.Students.StudentDetails


    <h4 style="margin-top: 10px">Student Details:</h4>
<ul class="list-group">
    <li class="list-group-item"><h5>Student number: @Model.Student.StudentNo</h5></li>
    <li class="list-group-item"> <h5>Name: @Model.Student.SName</h5></li>
    <li class="list-group-item"><h5>Address: @Model.Student.SAddress</h5></li>
    <li class="list-group-item"><h5>Registration date: @Model.Student.RegistrationDate</h5></li>
</ul>





<form method="Post">
    <input hidden type="number" asp-for=@Model.Student.StudentNo value=@Model.Student.StudentNo/>
    <button style="margin-top: 10px" type="submit" class="btn btn-danger">DeleteStudent</button>
</form>

<h4 style="margin-top: 10px">Leasings:</h4>
@{
    foreach (var leasing in Model.Leasings)
    {
    <div class="my-4">
        <ul class="list-group">
            <li class="list-group-item"><h5>Leasing: @leasing.LeasingNo</h5></li>
            <li class="list-group-item"> <h5>Place number: @leasing.PlaceNo</h5></li>
            <li class="list-group-item"><h5>Start date: @leasing.DateFrom</h5></li>
            <li class="list-group-item"><h5>End date: @leasing.DateTo</h5></li>
        </ul>
        
       
        
        
    </div>
    }
}
<h4>Rooms:</h4>
@{  foreach (var room in Model.Rooms)
    {
    <div class="my-4">
        <ul class="list-group">
            <li class="list-group-item"> <h5>Room: @room.RoomNo</h5></li>
            <li class="list-group-item"><h5>Place number: @room.PlaceNo</h5></li>
            
            @{
                if (room.DormitoryNo == null || room.DormitoryNo == 0)
                {
                    <li class="list-group-item"><h5>Appartment: @room.ApartmentNo</h5></li>
                    
                }
                else
                {
                    <li class="list-group-item"> <h5>Dormitory: @room.DormitoryNo</h5></li>
                    
                }
            }
            <li class="list-group-item"><h5>Rent per semester: @room.RentPerSemester</h5></li>
            
        </ul>
    </div>
    }
    
}